@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    background-color: red;
    animation-name: changeColor;
    animation-duration: 30s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes changeColor {
    14.3% {background-color: red;}
    28.6% {background-color: orange}
    42.9% {background-color: yellow}
    57.2% {background-color: green;}
    71.5% {background-color: rgb(65, 160, 255);}
    85.8% {background-color: rgb(8, 8, 193);}
    100% {background-color: rgb(101, 31, 101)}
}

.stage{
    margin-top: 100px;
}

@media(max-width:580px){
.stage{
    margin-top: 120px;}
}

.square{
    width: 130px;
    height: 130px;
    background-color:lightsalmon;
    border: 5px double black;
    box-shadow: 0px 0px 10px 0px white;
    display: inline-block;
}

@media(max-width:760px){
.square{
    width: 115px;
    height: 115px;}
}

@media(max-width:580px){
.square{
    width: 100px;
    height: 100px;}
}

@media(max-width:400px){
.square{
    width: 80px;
    height: 80px;}
}

.o{
    position: relative;
}

.o:after{
    position: absolute;
    content: "\1F6E1";
    font-size: 70px;
    line-height: 110px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media(max-width:560px){
.o:after{
    position: absolute;
    content: "\1F6E1";
    font-size: 60px;
    line-height: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;}
}

@media(max-width:400px){
    .o:after{
        position: absolute;
        content: "\1F6E1";
        font-size: 50px;
        line-height: 70px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;}
    }

.x{
    position: relative;
}

.x:after{
    position: absolute;
    content: "\2694";
    font-size: 70px;
    line-height: 110px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media(max-width:560px){
.x:after{
    position: absolute;
    content: "\2694";
    font-size: 60px;
    line-height: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;}
}

@media(max-width:400px){
    .x:after{
        position: absolute;
        content: "\2694";
        font-size: 50px;
        line-height: 70px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;}
    }
